[submodule "leek-core"]
	path = leek-core
	url = https://github.com/TechHares/leek-core.git
[submodule "leek-web"]
	path = leek-web
	url = https://github.com/TechHares/leek-web.git
[submodule "leek-manager"]
	path = leek-manager
	url = https://github.com/TechHares/leek-manager.git
