urllib3==2.2.3
cachetools==5.5.0
pandas==2.2.3
python_okx==0.3.2

mock==5.1.0
websocket-client==1.8.0
pyyaml~=6.0.2
requests~=2.31.0
django==5.1.1
django-multiselectfield~=0.1.13
django-simpleui==2024.8.28
django-import-export==4.1.1
django-clickhouse-backend~=1.3
numpy~=2.1.2
psutil~=6.0.0
tqdm==4.66.5
# mac 安装tables需要hdf5
# export HDF5_DIR=/opt/homebrew/opt/hdf5/
scipy~=1.14.1
tables~=3.10.1
plotly==5.24.1
joblib==1.4.2
efinance~=0.5.2
scikit-learn~=1.5.2
service_identity~=24.1.0
mysqlclient~=2.2.4
xgboost~=2.1.1