{% extends "admin/base_site.html" %}
{% load tags i18n admin_urls static admin_modify simpletags%}

{% block extrahead %}{{ block.super }}
<style type="text/css">
  .inline-group .tabular td.original p {
    margin-top: -50px;
    height: 1.2em;
  }

  .page-header {
    padding: 10px;
  }

  .choice {
    float: left !important;
  }

  .el-statistic {
      width: 100%;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      color: #000;
      font-variant: tabular-nums;
      list-style: none;
      font-feature-settings: "tnum";
      text-align: center;
  }

  .el-statistic .head {
      margin-bottom: 4px;
      color: #606266;
      font-size: 13px;
  }

  .el-statistic .con {
      font-family: Sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #303133;
  }
  .el-statistic .con .number {
    font-size: 20px;
    padding: 0 4px;
}
</style>
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{{ media }}

{% endblock %}
{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}"/>{% endblock %}
{% block content %}
<div id="content-main" class="form-main">
    {% if '_popup' not in request.GET %}
    <div id="content-page-header" class="page-header">
        <el-page-header title="{% trans 'Back' %}" @back="goBack" content="{{title}}"></el-page-header>
    </div>
    {% endif %}
    {% block object-tools %}
    {% if change %}{% if not is_popup %}
    <ul class="object-tools">
        {% block object-tools-items %}
        <li>
            <el-dialog title="{% trans 'History' %}" :visible.sync="dialogTableVisible">
                <iframe frameborder="0" :src="url" width="100%" height="300"></iframe>
            </el-dialog>
            {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}

            <el-button @click="go_url('{% add_preserved_filters history_url %}')"
                       class="historylink el-button--small" type="text">
                <span class="fas fa-history" style="margin-right: 5px"></span>
                {% trans "History" %}
            </el-button>
        </li>
        {% if has_absolute_url %}
        <li>
            <el-button size="small" @click="window.open('{{ absolute_url }}')" class="viewsitelink"
                       icon="fas fa-globe-asia">{% trans "View on site" %}
            </el-button>
        </li>
        {% endif %}
        {% endblock %}
    </ul>
    {% endif %}{% endif %}
    {% endblock %}
    <el-row id="content">
        <el-col :span="8">
            <form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post"
                  id="{{ opts.model_name }}_form" ref="strategy_form" novalidate>{% csrf_token %}{% block form_top %}{% endblock %}
                <div>

                    {% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1"/>{% endif %}
                    {% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}"/>{% endif %}
                    {% if errors %}
                    <div id="alert">
                        <el-alert
                                title="{% if errors|length == 1 %}
                            {% trans 'Please correct the error below.' %}
                {% else %}
                {% trans 'Please correct the errors below.' %}
                {% endif %}"
                                type="error">
                        </el-alert>
                    </div>
                    {{ adminform.form.non_field_errors }}
                    {% endif %}

                    {% block field_sets %}
                    {% for fieldset in adminform %}
                    {% include "admin/includes/fieldset.html" %}
                    {% endfor %}
                    {% endblock %}

                    {% block after_field_sets %}{% endblock %}

                    {% block inline_field_sets %}
                    {% for inline_admin_formset in inline_admin_formsets %}
                    {% include inline_admin_formset.opts.template %}
                    {% endfor %}
                    {% endblock %}

                    {% block submit_buttons_top %}{% submit_row %}{% endblock %}
                    {% block after_related_objects %}{% endblock %}
                    {% block admin_change_form_document_ready %}
                    <script type="text/javascript"
                            id="django-admin-form-add-constants"
                            src="{% static 'admin/js/change_form.js' %}"
                            {% if adminform and add %}
                            data-model-name="{{ opts.model_name }}"
                            {% endif %}>
                    </script>
                    {% endblock %}

                    {# JavaScript for prepopulated fields #}
                    {% prepopulated_fields_js %}

                </div>
            </form>
        </el-col>
        <el-col :span="16">
            <div class="module aligned " style="margin-left: 0px">
                <el-row>
                    <el-col :span="6" style="text-align: center">
                        <el-button type="success" round @click="backtest" :loading="backtestDisabled">测试</el-button>
                    </el-col>
                    <el-col :span="18" style="padding-top: 15px">
                        <el-progress :percentage="progress" :status="progress>=100?'success':'warning'"></el-progress>
                    </el-col>
                </el-row>
                <el-row>
                    <el-collapse v-model="setting" style="margin-top: 10px">
                        <el-collapse-item title="数据设置" name="1">
                            <el-form id="datasource" ref="datasource" :model="datasource" label-width="30px">
                                <el-form-item label="日期">
                                    <el-date-picker
                                            v-model="datasource.daterange"
                                            type="daterange"
                                            :picker-options="pickerOptions"
                                            range-separator="-"
                                            value-format="timestamp"
                                            start-placeholder="起"
                                            end-placeholder="止"
                                            align="right">
                                    </el-date-picker>
                                </el-form-item>

                                <el-form-item label="K线">
                                    <el-radio-group v-model="datasource.interval" style="margin-left: 100px">
                                        {% for channel in datasource_channel_choice %}
                                        <el-radio label="{{channel.0}}" class="choice">{{channel.1}}</el-radio>
                                        {% endfor %}
                                    </el-radio-group>
                                </el-form-item>
                                <el-form-item label="标的">
                                    <el-checkbox :indeterminate="datasource.isIndeterminateSymbols"
                                                 v-model="datasource.checkAllSymbols"
                                                 @change="handleCheckAllSymbols">全选
                                    </el-checkbox>
                                    <div style="margin: 15px 0;"></div>
                                    <el-checkbox-group style="margin-left: 100px" v-model="datasource.symbols"
                                                       @change="handleCheckedSymbolsChange">
                                        {% for symbol in datasource_symbol_choice %}
                                        <el-checkbox style="float: left;width: 60px;min-width: 60px" class="choice"
                                                     style=""
                                                     label="{{symbol}}">
                                        </el-checkbox>
                                        {% endfor %}
                                    </el-checkbox-group>

                                </el-form-item>
                                <el-form-item label="收益基准线">
                                    <el-radio-group v-model="datasource.benchmark" style="margin-left: 100px">
                                        <el-radio v-for="symbol in datasource.symbols" :label="symbol" class="choice">{{symbol}}</el-radio>
                                    </el-radio-group>
                                </el-form-item>
                            </el-form>
                        </el-collapse-item>
                        <el-collapse-item title="交易设置" name="2">
                            <el-form ref="trader" :model="trader" label-width="80px">
                                <el-form-item label="滑点幅度">
                                    <el-input-number v-model="trader.slippage" :precision="4" :step="0.001"
                                                     :max="100"></el-input-number>
                                </el-form-item>
                                <el-form-item label="费用收取方式">
                                    <el-select v-model="trader.fee_type" placeholder="费用收取方式">
                                        <el-option label="无费用" value="0"></el-option>
                                        <el-option label="固定费用" value="1"></el-option>
                                        <el-option label="成交额固定比例" value="2"></el-option>
                                        <el-option label="单位成交固定费用" value="3"></el-option>
                                    </el-select>
                                </el-form-item>
                                <el-form-item label="费率">
                                    <el-input-number v-model="trader.fee" :precision="4" :step="0.001"
                                                     :max="100"></el-input-number>
                                </el-form-item>
                                <el-form-item label="单笔最低收费">
                                    <el-input-number v-model="trader.min_fee" :precision="4" :step="0.001"
                                                     :max="10000"></el-input-number>
                                </el-form-item>
                                <el-form-item label="限价单成交率">
                                    <el-input-number v-model="trader.limit_order_execution_rate" :precision="4"
                                                     :step="0.001" :max="100"></el-input-number>
                                </el-form-item>
                                <el-form-item label="成交量小数保留位数">
                                    <el-input-number v-model="trader.volume_limit" :step="1"
                                                     :max="18"></el-input-number>
                                </el-form-item>
                            </el-form>
                        </el-collapse-item>
                    </el-collapse>
                </el-row>
                <el-row>
                    <div id="profit" style="width: 100%;height:400px; margin-top: 30px">
                        <ve-line :data="chartData" :colors="chartSettings.colors" :extend="chartExtend"
                                 :settings="chartSettings"></ve-line>
                    </div>
                </el-row>
                <el-divider></el-divider>
                <div  v-for='metrics,index in statistic'>
                <el-row :gutter="20">
                    <el-col :span="index == 1 ? 4: 3" v-for='m in metrics'>
                        <div class="el-statistic">
                            {% verbatim %}
                            <div class="head"><span class="title">{{m.name}}</span></div>
                            <div class="con"><span class="number">{{m.value}}</span></div>
                            {% endverbatim%}
                        </div>
                    </el-col>
                </el-row>
                <el-divider></el-divider>
                </div>
<!--                <el-table :data="tradeLog" style="width: 100%" max-height="300">-->
<!--                    <el-table-column prop="timestamp" label="时间" :formatter="date_formatter" align="center" width="180"></el-table-column>-->
<!--                    <el-table-column prop="symbol" label="标的" align="center"></el-table-column>-->
<!--                    <el-table-column prop="side" label="方向" :formatter="side_formatter" align="center"></el-table-column>-->
<!--                    <el-table-column prop="amount" label="金额" align="center"></el-table-column>-->
<!--                    <el-table-column prop="price" label="报价" align="center"></el-table-column>-->
<!--                    <el-table-column prop="quantity" label="持仓数量" align="center"></el-table-column>-->
<!--                    <el-table-column prop="avg_price" label="持仓均价" align="center"></el-table-column>-->
<!--                </el-table>-->
<!--                <el-divider></el-divider>-->
            </div>
        </el-col>
    </el-row>
</div>
<script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/v-charts/lib/index.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/v-charts/lib/style.min.css">
<script type="text/javascript">
    var symbolOptions = {{ datasource_symbol_choice | safe }}
    new Vue({
        el: '#content',
        data: {
            setting: [],
            progress: 0,
            msgIdx: 0,
            backtestDisabled: false,
            dialogTableVisible: false,
            url: '',
            datasource: {
                isIndeterminateSymbols: false,
                checkAllSymbols: true,
                interval: "5m",
                symbols: symbolOptions,
                benchmark: symbolOptions[0],
                daterange: [new Date().setTime(new Date().getTime() - 3600 * 1000 * 24 * 365), new Date().getTime()],
                start_time: new Date().getTime(),
                end_time: new Date().getTime(),
            },
            pickerOptions: {
                shortcuts: [{
                    text: '最近一个月',
                    onClick(picker) {
                        const now = new Date();
                        picker.$emit('pick', [now.getTime() - 3600 * 1000 * 24 * 30, now.getTime()]);
                    }
                },{
                    text: '最近三个月',
                    onClick(picker) {
                        const now = new Date();
                        picker.$emit('pick', [now.getTime() - 3600 * 1000 * 24 * 90, now.getTime()]);
                    }
                }, {
                    text: '最近一年',
                    onClick(picker) {
                        const now = new Date();
                        picker.$emit('pick', [now.getTime() - 3600 * 1000 * 24 * 365, now.getTime()]);
                    }
                }, {
                    text: '最近两年',
                    onClick(picker) {
                        const now = new Date();
                        picker.$emit('pick', [now.getTime() - 3600 * 1000 * 24 * 365 * 2, now.getTime()]);
                    }
                }, {
                    text: '最近五年',
                    onClick(picker) {
                        const now = new Date();
                        picker.$emit('pick', [now.getTime() - 3600 * 1000 * 24 * 365 * 5, now.getTime()]);
                    }
                }]
            },
            trader: {
                slippage: 0.0,
                fee_type: 0,
                fee: 0,
                min_fee: 0,
                limit_order_execution_rate: 100,
                volume_limit: 4
            },
            chartData: {
                columns: ['timestamp', 'profit_rate', 'benchmark', 'benchmark_price'],
                // columns: ['timestamp', 'profit_rate', 'benchmark', 'benchmark_price', 'profit_rate_execution_fee'],
                rows: []
            },
            chartExtend: {
                series(optionsSeries) {
                    for (let i = 0; i < optionsSeries.length; i++) {
                        optionsSeries[i].symbol = "none"
                    }
                    return optionsSeries
                },
                legend(legendValue) {
                    legendValue.selected = {
                        "基准价格": false,
                    }
                    return legendValue
                }
            },
            chartSettings: {
                xAxisType: "time",
                axisSite: {
                    right: ["benchmark_price"]
                },
                colors: ['#FF0000', '#6495ED', '#778899', '#548B54', '#6495ED'],
                yAxisType: [function (val) {
                    return Math.floor(val * 100) + "%"
                }],
                min: [function (val) {
                    return val.min - 0.05
                }, 'dataMin'],
                max: [function (val) {
                    return val.max + 0.05
                }, 'dataMax'],
                scale: [false, true],
                labelMap: {
                    profit_rate: '策略收益',
                    // profit_rate_execution_fee: '扣除手续费策略收益',
                    benchmark: '基准增长率',
                    benchmark_price: '基准价格',
                    timestamp: '时间'
                },
            },
            statistic: [],
            tradeLog: []
        },
        watch: {
            datasource: {
                handler: function (newVal, oldVal) {
                    let set = new Set(newVal.symbols);
                    if (!set.has(newVal.benchmark)) {
                        newVal.benchmark = newVal.symbols[0]
                    }
                    console.log("newVal", newVal.benchmark, "oldVal", oldVal.benchmark)
                },
                deep: true
            }
        },
        mounted() {
            this.init()
        },
        methods: {
            side_formatter(row, col) {
                return row.side === 1 ? "多" : "空"
            },
            date_formatter(row, col) {
                let d = new Date(row.timestamp)
                let year = d.getFullYear();
                let month = d.getMonth() + 1;
                let date = d.getDate();
                let hour = d.getHours();
                let minute = d.getMinutes();
                let second = d.getSeconds();
                return year + "-" + month + "-" + date + " " + hour + ":" + minute + ":" + second;
            },
            handleCheckAllSymbols(val) {
                this.datasource.symbols = val ? symbolOptions : [];
                this.datasource.isIndeterminateSymbols = false;
            },
            handleCheckedSymbolsChange(val) {
                let checkedCount = val.length;
                this.datasource.checkAllSymbols = checkedCount === symbolOptions.length;
                this.datasource.isIndeterminateSymbols = checkedCount > 0 && checkedCount < symbolOptions.length;
            },
            goBack() {
                window.location.href = '{% get_previous_url %}'
            },
            backtest() {
                console.log("回测")
                this.init()
                this.backtestDisabled = true
                const formData = new FormData(this.$refs['strategy_form']);
                const strategy_data = {}
                for (let [key, val] of formData.entries()) {
                    Object.assign(strategy_data, {[key]: val})
                }
                this.datasource.start_time = this.datasource.daterange[0]
                this.datasource.end_time = this.datasource.daterange[1]
                const data = {
                    strategy_data: strategy_data,
                    trader_data: this.trader,
                    datasource: this.datasource,
                }
                this.chartData.rows = []
                console.log(data)
                let _this = this
                sseUrl = '/admin/workstation/strategyconfig/backtest/?data='+encodeURIComponent(JSON.stringify(data))
                let source = new EventSource(sseUrl, {withCredentials: true});
                source.onopen = function (e) {
                    console.log("open", e)
                };

                source.onerror = function (e) {
                    console.log("SSE Err", e)
                    _this.backtestDisabled = false
                    source.close()
                };
                source.addEventListener("process", function (data) {
                    _this.progress = data.data
                })
                source.addEventListener("profit", function (data) {
                    _this.chartData.rows.push(JSON.parse(data.data))
                })

                source.addEventListener("trade", function (data) {
                    _this.tradeLog.unshift(JSON.parse(data.data))
                    if (_this.tradeLog.length > 50) {
                        _this.tradeLog.pop()
                    }
                })

                source.addEventListener("statistics", function (data) {
                    let parse = JSON.parse(data.data);
                    for (let i = 0; i < _this.statistic.length; i++) {
                        for (let j = 0; j < _this.statistic[i].length; j++) {
                            _this.statistic[i][j].value = parse[_this.statistic[i][j].key]
                        }
                    }
                })
            },
            backtest_result(arr) {
                const res = JSON.parse(arr[this.msgIdx++])
                this.progress = res.id * 10 + 10
                console.log("IDDD", res.id)
                if (this.msgIdx < arr.length - 1) {
                    this.backtest_result(arr)
                }
            },
            init() {
                this.progress = 0
                this.msgIdx = 0
                this.backtestDisabled = false
                this.chartData.rows = [
                    {'timestamp': new Date().getTime(), 'profit_rate': 0, 'base_rate': 0, 'base_price': 0},
                ]
                this.statistic = [
                    [
                        // 回报指标 return_metrics
                        {name: '年化收益率', value: "--", key: 'annualized_return'},
                        {name: '累计收益率', value: "--", key: 'cumulative_return'},
                        {name: '夏普比率', value: "--", key: 'sharpe_ratio'},
                        {name: '日度收益率', value: "--", key: 'average_daily_return'},
                        // 风险指标 risk_metrics
                        {name: '波动率', value: "--", key: 'volatility'},
                        {name: '最大回撤', value: "--", key: 'maximum_drawdown'},
                        {name: '下行风险', value: "--", key: 'downside_risk'},
                        {name: 'Sortino比率', value: "--", key: 'sortino_ratio'},
                    ],
                    [
                        // 效用指标 utility_metrics
                        {name: '最大回撤期内收益', value: "--", key: 'maximum_drawdown_duration'},
                        {name: '资本回报率', value: "--", key: 'capital_utilization'},
                        {name: 'Calmar比率', value: "--", key: 'calmar_ratio'},
                        // 交易指标 trading_metrics
                        {name: '交易信号(多/空)', value: "--/--", key: 'trade_signal'},
                        {name: '胜率', value: "--", key: 'winning_percentage'},
                        {name: '平均交易获利/损失', value: "--", key: 'average_trade_pl'},
                    ],

                    // 绩效统计 performance_statistics
                    [
                        {name: 'Alpha', value: "--", key: 'alpha'},
                        {name: 'Beta', value: "--", key: 'beta'},
                        {name: 'R-squared', value: "--", key: 'r_squared'},
                        {name: '信息比率', value: "--", key: 'information_ratio'},
                        {name: 'Treynor比率', value: "--", key: 'treynor_ratio'},
                    ]
                ]
                this.tradeLog = []
            },
            go_url: function (url) {
                this.url = url;
                this.dialogTableVisible = true;
            }
        }
    })
    if (document.getElementById('alert')) {
        new Vue({
            el: '#alert'
        })
    }

</script>
<script type="text/javascript" src="{% static 'admin/simpleui-x/js/axios.min.js' %}"></script>
{% endblock %}
